
    h1{
        color:aqua;
    }
   * {
        border:solid;
    }
.header{
    background-color:rgb(255, 0, 85);
    display:flex;
    justify-content: space-between ;
}
.grid{
    background-color: cornflowerblue;
    display:flex;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}